DATABASE_URL="postgresql://user:password@localhost:5432/ksd"
AUTH_SECRET="votre_secret_de_32_caracteres_minimum_ici"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
